<ion-grid>
  <ion-row *ngIf="grid">
    <ion-col size="4" size-md="3" size-lg="2" *ngFor="let movie of movies" class="col-padding">
      <div class="siv">
        <a [routerLink]="['/movie-details', movie.id]">
          <ion-img
            *ngIf="movie.poster_path"
            [src]="posterUrl + movie.poster_path"
            style="border-radius: 5px; overflow: hidden;"
          ></ion-img>
          <img *ngIf="!movie.poster_path" [src]="imgPlaceholder" class="img-poster" />
        </a>
        <div class="overlay">{{ movie.vote_average | number: '1.1-2' }}</div>
      </div>

      <h3>{{ movie.title }}</h3>
    </ion-col>
  </ion-row>
</ion-grid>
