<ion-header *ngIf="!isLoading">
  <ion-toolbar #toolbar>
    <ion-title #title>{{ person.name }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/search"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <app-shrinking-segment-header
    class="header"
    [scrollArea]="myContent"
    [toolbar]="toolbar"
    [title]="title"
    headerHeight="230"
    *ngIf="!isLoading"
    [ngStyle]="{background: 'url('+  backdropPic + person.profile_path + ') no-repeat center'}"
  >
    <img [src]="profilePic + person.profile_path" />
    <h3>{{ person.name }}</h3>
    <p>{{ castWathedMovies ? castWathedMovies?.length : 0 }} Filmes Assistidos</p>
  </app-shrinking-segment-header>

  <ion-toolbar mode="md" *ngIf="person" class="no-transparency">
    <ion-segment value="sobre" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="sobre">
        <ion-label>Sobre</ion-label>
      </ion-segment-button>
      <ion-segment-button value="watched">
        <ion-label>Assistidos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="cast" *ngIf="person.movie_credits.cast.length > 0">
        <ion-label> {{ person.gender == 1 ? 'Atriz' : 'Ator'}}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="crew" *ngIf="crewOrderedMovies.length > 0">
        <ion-label> {{ person.gender == 1 ? 'Diretora' : 'Diretor'}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen #myContent [scrollEvents]="true">
  <ion-grid fixed *ngIf="selecteTab == 'sobre' && person" class="ion-padding">
    <ion-row>
      <ion-col size="12">
        <ion-text color="light">
          <h4>Informações</h4>
        </ion-text>
      </ion-col>
      <ion-col size="3">
        <ion-label color="primary">Idade:</ion-label>
        <p>{{ personAge }}</p>
      </ion-col>
      <ion-col size="9">
        <ion-label color="primary">Nascido em:</ion-label>
        <p>{{ person.place_of_birth }}</p>
      </ion-col>
      <ion-col size="12">
        <ion-label color="primary">Biografia:</ion-label>
        <p>{{ person.biography }}</p>
      </ion-col>
      <ion-col size="12">
        <ion-text color="light">
          <h4>Estatísticas</h4>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <ion-label color="primary">Nota Média:</ion-label>
        <p>8.5</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-movies-list *ngIf="selecteTab === 'cast'" [movies]="castOrderedMovies" [grid]="true"></app-movies-list>
  <app-movies-list *ngIf="selecteTab === 'crew'" [movies]="crewOrderedMovies" [grid]="true"></app-movies-list>
  <app-movies-list *ngIf="selecteTab === 'watched'" [movies]="castWathedMovies" [grid]="true"></app-movies-list>
</ion-content>
